body {
  /* fallback for old browsers */
  background: #6abfb5;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(88, 202, 202), rgb(94, 189, 181));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(67, 183, 189), rgb(107, 200, 181))
}